* {
    background-color: rgb(92, 159, 246);
}
aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
}
#menu-opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}
#menu-area {
    width: 0px;
    height: 100vh;
    background: #ccc;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;
}
#menu-area ul, #menu-area li {
    padding: 0;
    list-style: none;
}
#menu-area li {
    display: block;
    padding: 10px;
    color: #555;
    cursor: pointer;
    background: #ccc;
}
#menu-area li:hover {
    background-color: #ddd;
}
.menu-opened {
    width: 200px !important;
}