* {
    background-color: #000;
    color: #fff;
    font-family:sans-serif;
}
fieldset {
    margin: 20px;
    line-height: 35px;
}
legend {
    font-size: 28px;
}
h1 {
    font-size: 20px;
}
fieldset .imagem {
    height: 200px;
}
input {
    padding: 10px;
}


.verde {
    background-color: green;
}
.vermelho {
    background-color: red;
    color: #000;
}
.azul {
    background-color: rgb(20, 78, 202);
}



