* {
    background-color: #000;
    color: #fff;
}
fieldset {
    margin: 20px;
}
legend {
    font-size: 18px;
}
fieldset .imagem {
    height: 200px;
}
input {
    padding: 10px;
}


.verde {
    background-color: green;
}
.vermelho {
    background-color: red;
    color: #000;
}
.azul {
    background-color: rgb(20, 78, 202);
}



