* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(6, 154, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.screen {
    display: flex;
    height: 100vh;
}
.leftside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside img {
    max-width: 200px;
    height: auto;
}
.contact {
    margin-top: 30px;
}
.contact a {
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
} 

.rightside {
    width: 400px;
    background-color: #777;
    padding: 50px;
}
.rightside label {
    display: block;
    margin-bottom: 20px;
}
.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .screen {
        flex-direction: column;
    }
    .leftside img {
        margin-top: 20px;
        max-width: 150px;
    }
    .rightside {
        width: 90vw;
        height: auto;
        border-radius: 20px;
        margin: 20px auto 20px auto;
        padding: 20px 50px;
    }
    .rightside h1 {
        text-align: center;
        margin-top: 0;
    }
    .rightside label {
        margin-bottom: 10px;
    }
    .cadastrar, .contact {
        margin-top: 20px;
    }
}